body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

.@Url.Content("answer" + item.MissionQuestion_ID) {
    margin: 0px;
    width: 448px;
    height: 98px;
    padding-left: 15px;
    padding-right: 15px;
}

#newQuestion {
    margin: 0px;
    width: 448px;
    height: 98px;
    padding-left: 15px;
    padding-right: 15px;
}

#textarea {
    margin: 0px;
    width: 448px;
    height: 98px;
    padding-left: 15px;
    padding-right: 15px;
}

#qanda {
    padding-left: 35px;
    padding-right: 35px;
}

#stuff {
    margin: 20px;
    padding-left: 35px;
    padding-right: 35px;
}
